body{
    background-color: #674f67;
    margin: 0;
}
header{
    height: 50px;
    background-color: #a885bf;
    display: flex;
    color: white;
    
    h2{
        margin: auto 0 auto 0;
    }
    h3{
        margin: auto 0 auto 0;
    }
}
footer{
    height: 50px;
}
#pictureContent{
    background-color: black;
    position: relative;
    .picture{
        object-fit: cover;
        width: 100%;
        opacity: 50%;

    }
    #pictureContentText{
        //中央に配置
        position: absolute;
        top: 50%;
        left: 30%;
        -ms-transform: translate(-30%,-50%);
        -webkit-transform: translate(-30%,-50%);
        transform: translate(-30%,-50%);
        margin:0;
        padding:0;

        border-left: #c842c5 solid 10px;


        h1{
            font-size: 40px;
            color: white;
        }
        p{
            color: white;
        }
    }

}
#bodyContent{
    background-color: white;
    max-width: 1000px;
    margin: auto;
}
#HomeDescription{

    .UnderHighLightedBox{
        width: 50%;
    }
}
#HomeHorizontalBox{
    width: 100%;
    display: flex;
    padding: 10px 0 20px 0;
    justify-content: space-around;        

    .ContentBox{
        width: 27%;
        flex-direction: column;
        display: flex;

            p{
                overflow-wrap: break-word;
                margin: 0;
                text-align: center;
                color: white;
                margin-top: auto;
            }
        
    }
}



//こっからクラス

.UnderHighLightedBox{
    border-bottom: #a885bf solid 5px;
    margin: auto;

    //中のpタグ
    p{
        margin: 0;
        text-align: center;
    }
}
